<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lulu.teoriamusical">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.TeoriaMusical"
        tools:targetApi="31">
        <activity
            android:name=".view.moduloI.clavefa.TelaClaveFaIII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.clavefa.TelaClaveFaII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.clavesol.TelaClaveSolII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.pautas.TelaPautaIII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.pautas.TelaPautaII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.pautas.TelaPauta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.notas.TelaNotasIII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.notas.TelaNotasII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.caracteristicas.TelaCaracteristicasIII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.caracteristicas.TelaCaracteristicasII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.caracteristicas.TelaCaracteristicas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.TelaIntroducao"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.duracoes.TelaDuracoes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.clavesol.TelaClaveSol"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.clavefa.TelaClaveFa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.notas.TelaNotas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TelaQuiz"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloIV.ModuloIV"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloIII.ModuloIII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloII.ModuloII"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.moduloI.ModuloI"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>